.header-wrapper {
  display: flex;
  height: 80px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-inline-size: 1158px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-inline-start: 13px;
    padding-inline-end: 13px;
  }
}
