.hero {
  padding-block-start: 16px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block-start: 16px;
}

.hero-image {
  text-align: center;
}

.hero-image img {
  vertical-align: middle;
}

.hero-social {
  padding-block-end: 24px;
}

.hero h1 {
  font: var(--headline3);
}

.hero h1 span:first-child {
  font: var(--headline5);
  display: block;
}
