.testimonial {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;

  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 3px 3px 0px 0px rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.user-photo {
  width: 64px;
  height: 64px;
  align-self: center;
}

.testimonial-content {
  font: var(--testimonial);
  color: var(--purple);
}

.user-info {
  font: var(--caption);
  color: var(--purple);
  opacity: 0.5;
}
